<nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" routerLink="">Etsy</a>
      <input type="text" name="" value="" placeholder="Search for items or shops"><button type="button" name="button">Search</button>
    </div>
  </div>
</nav>

<div class="container">
  <router-outlet></router-outlet>
</div>

<footer class="footer">
  <div class="container">
    <a routerLink="about">About This Seller</a>
    <a class="text-muted" routerLink="owner-view">Admin</a>
  </div>
</footer>
